exportPattern("^[[:alpha:]]+")
export()
import(data.table)
import(enviPat)
import(stringr)
import(XML)
import(SPARQL)
import(ChemmineR)
import(rvest)
import(xml2)
import(stringi)
import(webchem)
import(rpubchem)
import(rlist)
import(rapport)
