exportPattern("^.*")
import(data.table)
import(enviPat)
import(stringr)
import(XML)
import(ChemmineR)
import(xml2)
#import(rvest)
import(stringi)
import(rlist)
import(SPARQL)
import(RCurl)
importFrom("rvest", 'html_nodes', "html_text")
importFrom("methods", "is")
importFrom("utils", "data")
importFrom("stats", "aggregate", "complete.cases", "setNames")
importFrom("utils", "read.delim2", "read.table", "write.table")
importFrom("utils", "head")
